{
  "presets": ["next/babel"],
  "plugins": [
    ["styled-components", { "ssr": true }],
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "~images": ["./assets/images/"],
          "~logo": ["./assets/logo/"],
          "~atoms": ["./components/atoms/"],
          "~molecules": ["./components/molecules/"],
          "~organisms": ["./components/organisms/"],
          "~templates": ["./components/templates/"],
          "~helpers": ["./helpers/"],
          "~hooks": ["./hooks/"],
          "~hoc": ["./hoc/"],
          "~layouts": ["./layouts/"],
          "~utils": ["./utils/"]
        },
        "extensions": [".js", ".jsx", ".tsx", ".ts"]
      }
    ]
  ]
}